Node-RED-flows/module8_delivery_sales.json
[{"id":"2dd1391b53d6a932","type":"tab","label":"Delivery-Sales","disabled":false,"info":""},{"id":"83c5ef6f4e972915","type":"http request","z":"2dd1391b53d6a932","name":"Update inventory","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:1880/inventory","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":100,"wires":[[]]},{"id":"31373c0937619d8f","type":"ui_form","z":"2dd1391b53d6a932","name":"Parts form","label":"","group":"fd982798ea47fde8","order":0,"width":0,"height":0,"options":[{"label":"Part A","value":"partA","type":"number","required":false,"rows":null},{"label":"Part B","value":"partB","type":"number","required":false,"rows":null},{"label":"Part C","value":"partC","type":"number","required":false,"rows":null}],"formValue":{"partA":"","partB":"","partC":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":190,"y":100,"wires":[["83c5ef6f4e972915"]]},{"id":"8def4dd94f9ca14d","type":"http request","z":"2dd1391b53d6a932","name":"Update stock","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/stock","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":180,"wires":[[]]},{"id":"611e6923e6fbfdc4","type":"ui_form","z":"2dd1391b53d6a932","name":"Products form","label":"","group":"15b4a9ed736b73f0","order":3,"width":0,"height":0,"options":[{"label":"Product 1","value":"product1","type":"number","required":false,"rows":null},{"label":"Product 2","value":"product2","type":"number","required":false,"rows":null}],"formValue":{"product1":"","product2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":200,"y":180,"wires":[["5e422637.a4d788"]]},{"id":"5e422637.a4d788","type":"function","z":"2dd1391b53d6a932","name":"Negate inputs","func":"\nmsg.payload.product1 *= -1;\nmsg.payload.product2 *= -1;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":180,"wires":[["8def4dd94f9ca14d"]]},{"id":"fd982798ea47fde8","type":"ui_group","name":"Parts delivery","tab":"144c64425ac484a9","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"15b4a9ed736b73f0","type":"ui_group","name":"Product sales","tab":"144c64425ac484a9","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"144c64425ac484a9","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]