Node-RED-flows/module10_inventory_monitoring.json
[{"id":"6489a008ccb142ec","type":"tab","label":"Inventory Monitoring","disabled":false,"info":""},{"id":"99279952ffcfda61","type":"inject","z":"6489a008ccb142ec","name":"trigger inventory","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":150,"y":100,"wires":[["77cc1a2d5a690561"]]},{"id":"77cc1a2d5a690561","type":"http request","z":"6489a008ccb142ec","name":"request inventory","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:1880/inventory","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":100,"wires":[["6b6cc5fa375203d4"]]},{"id":"821ed1305c994adf","type":"inject","z":"6489a008ccb142ec","name":"trigger stock","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["7ab1cd3f171167c9"]]},{"id":"7ab1cd3f171167c9","type":"http request","z":"6489a008ccb142ec","name":"request stock","method":"GET","ret":"txt","paytoqs":"body","url":"http://localhost:1880/stock","tls":"","persist":false,"proxy":"","authType":"","x":370.00000762939453,"y":160.00000190734863,"wires":[["42db104b8d66aab0"]]},{"id":"efdd997f8416e26a","type":"ui_chart","z":"6489a008ccb142ec","name":"","group":"9a7f0bf9459a29a8","order":0,"width":0,"height":0,"label":"Parts","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":830,"y":100,"wires":[[]]},{"id":"6b6cc5fa375203d4","type":"function","z":"6489a008ccb142ec","name":"prepare chart data","func":"var parts = JSON.parse(msg.payload);\nmsg.payload = [{\n    \"series\": [\"Parts\"],\n    \"data\": [parts.partA, parts.partB, parts.partC],\n    \"labels\": [\"Part A\", \"Part B\", \"Part C\"]\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":627.5000076293945,"y":100.00000190734863,"wires":[["efdd997f8416e26a"]]},{"id":"42db104b8d66aab0","type":"function","z":"6489a008ccb142ec","name":"prepare chart data","func":"var products = JSON.parse(msg.payload);\nmsg.payload = [{\n    \"series\": [\"Products\"],\n    \"data\": [products.product1, products.product2],\n    \"labels\": [\"Product 1\", \"Product 2\"]\n}];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":627.5000076293945,"y":160.00000190734863,"wires":[["5163925a0d064cf0"]]},{"id":"5163925a0d064cf0","type":"ui_chart","z":"6489a008ccb142ec","name":"","group":"9a7f0bf9459a29a8","order":0,"width":0,"height":0,"label":"Products","chartType":"bar","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#fff76b","#942192","#ff4013","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":840,"y":160,"wires":[[]]},{"id":"9a7f0bf9459a29a8","type":"ui_group","name":"Inventory status","tab":"144c64425ac484a9","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"144c64425ac484a9","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]