Node-RED-flows/modules6-7_ServiceAPI.json
[{"id":"722ceeebd6dda5f9","type":"tab","label":"Inventory/Stock Service","disabled":false,"info":""},{"id":"9b2d7459.8dd598","type":"http in","z":"722ceeebd6dda5f9","name":"","url":"/inventory","method":"get","upload":false,"swaggerDoc":"","x":160,"y":200,"wires":[["77f8f20fdafe1e9b"]]},{"id":"7fe50f46.46209","type":"http response","z":"722ceeebd6dda5f9","name":"","statusCode":"","headers":{},"x":550,"y":200,"wires":[]},{"id":"69a64e3d.84da3","type":"http in","z":"722ceeebd6dda5f9","name":"","url":"/inventory","method":"post","upload":false,"swaggerDoc":"","x":160,"y":340,"wires":[["3031423c0bbb3b9b"]]},{"id":"43e49c36.dc7624","type":"http response","z":"722ceeebd6dda5f9","name":"","statusCode":"","headers":{},"x":550,"y":340,"wires":[]},{"id":"3031423c0bbb3b9b","type":"function","z":"722ceeebd6dda5f9","name":"Set inventory","func":"var partA = flow.get(\"partA\");\nvar partB = flow.get(\"partB\");\nvar partC = flow.get(\"partC\");\n\npartA += msg.payload.partA;\npartB += msg.payload.partB;\npartC += msg.payload.partC;\n\nflow.set(\"partA\", partA);\nflow.set(\"partB\", partB);\nflow.set(\"partC\", partC);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":340,"wires":[["43e49c36.dc7624"]]},{"id":"77f8f20fdafe1e9b","type":"function","z":"722ceeebd6dda5f9","name":"Get inventory","func":"partA = flow.get(\"partA\");\npartB = flow.get(\"partB\");\npartC = flow.get(\"partC\");\n\nmsg.payload = { \"partA\": partA, \n                \"partB\": partB, \n                \"partC\": partC }\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":200,"wires":[["7fe50f46.46209"]]},{"id":"a6991a141d83c8ad","type":"http in","z":"722ceeebd6dda5f9","name":"","url":"/stock","method":"post","upload":false,"swaggerDoc":"","x":150,"y":280,"wires":[["4e17aae98c0c5487"]]},{"id":"a855825b1f251f82","type":"http response","z":"722ceeebd6dda5f9","name":"","statusCode":"","headers":{},"x":550,"y":280,"wires":[]},{"id":"4e17aae98c0c5487","type":"function","z":"722ceeebd6dda5f9","name":"Set stock","func":"var product1 = flow.get(\"product1\");\nvar product2 = flow.get(\"product2\");\n\nproduct1 += msg.payload.product1;\nproduct2 += msg.payload.product2;\n\nflow.set(\"product1\", product1);\nflow.set(\"product2\", product2);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":280,"wires":[["a855825b1f251f82"]]},{"id":"acf8a8de03578e26","type":"http in","z":"722ceeebd6dda5f9","name":"","url":"/stock","method":"get","upload":false,"swaggerDoc":"","x":140,"y":140,"wires":[["5f784a95e70d5caa"]]},{"id":"b651bb924b0e64c8","type":"http response","z":"722ceeebd6dda5f9","name":"","statusCode":"","headers":{},"x":550,"y":140,"wires":[]},{"id":"5f784a95e70d5caa","type":"function","z":"722ceeebd6dda5f9","name":"Get stock","func":"var product1 = flow.get(\"product1\");\nvar product2 = flow.get(\"product2\");\n\nmsg.payload = {\"product1\": product1, \"product2\": product2}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":140,"wires":[["b651bb924b0e64c8"]]},{"id":"5c8cd7e1.19d788","type":"function","z":"722ceeebd6dda5f9","name":"Initialize variables","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is started.\nflow.set('partA', 0);\nflow.set('partB', 0);\nflow.set('partC', 0);\nflow.set('product1', 0);\nflow.set('product2', 0);","finalize":"","libs":[],"x":170,"y":60,"wires":[[]]}]