Node-RED-flows/module9_production.json
[{"id":"e654e3c8.ce3d5","type":"tab","label":"Production","disabled":false,"info":""},{"id":"f582503f.5350b","type":"http request","z":"e654e3c8.ce3d5","name":"Get inventory","method":"GET","ret":"obj","paytoqs":"body","url":"http://localhost:1880/inventory","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":120,"wires":[["611ecad9.ffa7c4","120ab3d4.ad6dec"]]},{"id":"73183648.4949d8","type":"ui_button","z":"e654e3c8.ce3d5","name":"","group":"61b062b2bda68979","order":1,"width":0,"height":0,"passthru":false,"label":"Product 1","tooltip":"Produce one unit of Product 1","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":100,"y":120,"wires":[["f582503f.5350b"]]},{"id":"611ecad9.ffa7c4","type":"function","z":"e654e3c8.ce3d5","name":"New inventory","func":"var parts = msg.payload;\nif (parts.partA >= 1 && parts.partB >= 1)\n    msg.payload = { \"partA\": -1, \"partB\": -1, \"partC\": 0 };\nelse\n    msg.payload = { \"partA\": 0, \"partB\": 0, \"partC\": 0 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":80,"wires":[["52f34ca3.d49844"]]},{"id":"610fccef.847464","type":"debug","z":"e654e3c8.ce3d5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030.0000076293945,"y":219.00000381469727,"wires":[]},{"id":"52f34ca3.d49844","type":"http request","z":"e654e3c8.ce3d5","name":"Update inventory","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/inventory","tls":"","persist":false,"proxy":"","authType":"","x":810.0000076293945,"y":159.00000381469727,"wires":[["207c8c4e.9ee484"]]},{"id":"207c8c4e.9ee484","type":"debug","z":"e654e3c8.ce3d5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030.0000076293945,"y":159.00000381469727,"wires":[]},{"id":"48d10512.51772c","type":"http request","z":"e654e3c8.ce3d5","name":"Update stock","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/stock","tls":"","persist":false,"proxy":"","authType":"","x":790.0000076293945,"y":219.00000381469727,"wires":[["610fccef.847464"]]},{"id":"120ab3d4.ad6dec","type":"function","z":"e654e3c8.ce3d5","name":"New stock","func":"var parts = msg.payload;\nif(parts.partA >= 1 && parts.partB >= 1)\n    msg.payload = { \"product1\": 1 , \"product2\": 0};\nelse\n    msg.payload = { \"product1\": 0, \"product2\": 0 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":140,"wires":[["48d10512.51772c"]]},{"id":"f82cff45.f69cd","type":"function","z":"e654e3c8.ce3d5","name":"New stock","func":"var parts = msg.payload;\nif (parts.partC > 0 && parts.partB > 1)\n    msg.payload = { \"product1\": 0, \"product2\": 1 };\nelse\n    msg.payload = { \"product1\": 0, \"product2\": 0 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":531,"y":295.99999237060547,"wires":[["48d10512.51772c"]]},{"id":"1175eaef.b68245","type":"http request","z":"e654e3c8.ce3d5","name":"Get inventory","method":"GET","ret":"obj","paytoqs":"body","url":"http://localhost:1880/inventory","tls":"","persist":false,"proxy":"","authType":"","x":291,"y":255.99999237060547,"wires":[["f82cff45.f69cd","708ef28.217630c"]]},{"id":"708ef28.217630c","type":"function","z":"e654e3c8.ce3d5","name":"New inventory","func":"var parts = msg.payload;\nif (parts.partC > 0 && parts.partB > 1)\n    msg.payload = { \"partA\": 0, \"partB\": -2, \"partC\": -1 };\nelse\n    msg.payload = { \"partA\": 0, \"partB\": 0, \"partC\": 0 };\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":541,"y":235.99999237060547,"wires":[["52f34ca3.d49844"]]},{"id":"b3047769.82ad58","type":"ui_button","z":"e654e3c8.ce3d5","name":"","group":"61b062b2bda68979","order":1,"width":0,"height":0,"passthru":false,"label":"Product 2","tooltip":"Produce one unit of Product 2","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":101,"y":255.99999237060547,"wires":[["1175eaef.b68245"]]},{"id":"61b062b2bda68979","type":"ui_group","name":"Production","tab":"144c64425ac484a9","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"144c64425ac484a9","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]